body {
  background: #f1f3f4;
}

main {
  padding-top: 5rem;
  min-height: 80vh;
}

h1, h2, h3, h4, h5 {
  margin-bottom: 1.2em;
}

.rating span i {
  margin: 0.1rem;
}

.rating-text {  
  margin-left: 4px;
}